<div class="row">
  <% Gossip.all.each_with_index do |gossip, index|  %>
    <div class="col-sm-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title"><%= gossip.title %></h5>
          <p class="card-text"><%= gossip.user.first_name %></p>
          <a href="<%= gossip_path(gossip.id) %>" class="btn btn-primary">Gossip nยบ <%= gossip.id %></a>
        </div>
      </div>
      <br/>
    </div>
  <% end %>
</div>