<div class="div_text_centered">
  <h1>Salut de notre equipe!</h1>
  <p>Voici notre equipe et tous les jolis membres!</p>
  <ul>
    <li>David</li>
    <li>Kevin</li>
    <li>Daniel</li>
    <li>Juan</li>
  </ul>
</div>